## How well can the level of corruption of a country in Europe be quantified? 

* What differences are there in actual corruption and perceived corruption? 

* Are there different forms of corruption prevalent in different countries in Europe? 

* What characteristics of a country predict the level of corruption? 

* What characteristics of a country predict an increase or decrease in the level of corruption?

• Corruption Perceptions Index (CPI) from Transparency International.
Data Set that shows preceived corruption of countries and rank them.

• World Bank Development Indicators (economic, social, and governance data).
Indicators could be used to look for correlation between them and the corruption score of countries

• European Social Survey (perception-related data).
• OECD Data on governance and public sector integrity.

In [3]:
import pandas as pd
import os

In [ ]:
path = "../data/raw/ESS1e06_7-ESS2e03_6-ESS3e03_7-ESS4e04_6-ESS5e03_5-ESS6e02_6-ESS7e02_3-ESS8e02_3-ESS9e03_2-ESS10-ESS10SC-ESS11-subset/ESS1e06_7-ESS2e03_6-ESS3e03_7-ESS4e04_6-ESS5e03_5-ESS6e02_6-ESS7e02_3-ESS8e02_3-ESS9e03_2-ESS10-ESS10SC-ESS11-subset.csv"

In [ ]:
ess_data = pd.read_csv(path)

In [31]:
ess_data.tail()

            name  essround  edition    proddate   idno cntry   dweight   pspwght   pweight  anweight      prob  stratum      psu  netuse  netusoft  netustm  nwspol  nwsppol  nwsptot  pplfair  pplhlp  ppltrst  rdpol  rdtot  tvpol  tvtot  dmcntov  polintr  stfdem  stflife  trstep  trstlgl  trstplc  trstplt  trstprt  trstun  trstsci  loylead  medcrgv  medcrgvc  meprinf  implvdm
530706  ESS11e02        11      2.0  20.11.2024  86379    SK  1.758655  3.777879  0.315904  1.193448  0.000432   1394.0  20053.0     NaN       5.0    360.0   120.0      NaN      NaN        5       5        5    NaN    NaN    NaN    NaN      NaN        1       5        5       9        5       10        3      3.0      10      NaN      5.0      NaN       NaN      NaN      NaN
530707  ESS11e02        11      2.0  20.11.2024  86407    SK  1.302318  0.698084  0.315904  0.220528  0.000583   1411.0  20267.0     NaN       2.0   6666.0    60.0      NaN      NaN        7       4        7    NaN    NaN    NaN    NaN      NaN        2       8       10       7        7       10        4      6.0       6      NaN      2.0      NaN       NaN      NaN      NaN
530708  ESS11e02        11      2.0  20.11.2024  86408    SK  1.262293  3.717124  0.315904  1.174255  0.000602   1415.0  20299.0     NaN       5.0    120.0   120.0      NaN      NaN        5       5        5    NaN    NaN    NaN    NaN      NaN        2       5       10       7        4        5        5      5.0       8      NaN      3.0      NaN       NaN      NaN      NaN
530709  ESS11e02        11      2.0  20.11.2024  86426    SK  4.000705  4.000297  0.315904  1.263711  0.000184   1415.0  20302.0     NaN       5.0    120.0    10.0      NaN      NaN       88       2        0    NaN    NaN    NaN    NaN      NaN        4      88        8       8        5        2        3     88.0      88      NaN      2.0      NaN       NaN      NaN      NaN
530710  ESS11e02        11      2.0  20.11.2024  86453    SK  1.111078  1.031229  0.315904  0.325770  0.000683   1400.0  20138.0     NaN       5.0    330.0    15.0      NaN      NaN       10      10       10    NaN    NaN    NaN    NaN      NaN        2       8        8       8       10       10        7      8.0       7      NaN      5.0      NaN       NaN      NaN      NaN

In [39]:
html_data = pd.read_html("../data/raw/ESS1e06_7-ESS2e03_6-ESS3e03_7-ESS4e04_6-ESS5e03_5-ESS6e02_6-ESS7e02_3-ESS8e02_3-ESS9e03_2-ESS10-ESS10SC-ESS11-subset/ESS1e06_7-ESS2e03_6-ESS3e03_7-ESS4e04_6-ESS5e03_5-ESS6e02_6-ESS7e02_3-ESS8e02_3-ESS9e03_2-ESS10-ESS10SC-ESS11-subset codebook.html")

In [43]:
ess_data["cntry"].unique()

array(['AT', 'BE', 'CH', 'CZ', 'DE', 'DK', 'ES', 'FI', 'FR', 'GB', 'GR',
       'HU', 'IE', 'IL', 'IT', 'LU', 'NL', 'NO', 'PL', 'PT', 'SE', 'SI',
       'EE', 'IS', 'SK', 'TR', 'UA', 'BG', 'CY', 'RU', 'HR', 'LV', 'RO',
       'LT', 'AL', 'XK', 'ME', 'RS', 'MK'], dtype=object)

In [33]:
corruption_raw_data = pd.read_csv("../data/raw/TI-CPI.csv")

In [38]:

corruption_raw_data.head()

  Economy ISO3 Economy Name    Indicator ID                                    Indicator Attribute 1 Attribute 2 Attribute 3 Partner   2012   2013    2014    2015    2016    2017    2018    2019    2020    2021   2022    2023
0          AFG  Afghanistan     TI.CPI.Rank            Corruption Perceptions Index Rank           -           -           -       -  174.0  175.0  172.00  166.00  169.00  177.00  172.00  173.00  165.00  174.00  150.0  162.00
1          AFG  Afghanistan   TI.CPI.STDERR  Corruption Perceptions Index Standard Error           -           -           -       -    3.3    3.3    1.29    3.49    1.74    1.39    1.41    2.55    2.44    2.12    6.3    6.24
2          AFG  Afghanistan    TI.CPI.Score           Corruption Perceptions Index Score           -           -           -       -    8.0    8.0   12.00   11.00   15.00   15.00   16.00   16.00   19.00   16.00   24.0   20.00
3          AFG  Afghanistan  TI.CPI.Sources         Corruption Perceptions Index Sources           -           -           -       -    3.0    3.0    4.00    4.00    5.00    5.00    5.00    5.00    5.00    5.00    4.0    5.00
4          AGO       Angola     TI.CPI.Rank            Corruption Perceptions Index Rank           -           -           -       -  157.0  153.0  161.00  163.00  164.00  167.00  165.00  146.00  142.00  136.00  116.0  121.00