In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_columns", None)

Source : https://dataunodc.un.org/dp-crime-corruption-offences

In [50]:
un_data = pd.read_excel("../data/raw/un_corruption.xlsx")
un_data.columns = un_data.iloc[1]
un_data = un_data[2:].reset_index(drop=True)
un_data["year"] = pd.to_numeric(un_data["Year"])
un_data["VALUE"] = pd.to_numeric(un_data["VALUE"])
un_data=un_data[(un_data['Indicator']=='Offences')
                 & (un_data["year"] >= 2012) & (un_data["year"] <= 2022)
                 & (un_data['Unit of measurement']=='Rate per 100,000 population') #Can be count or Rate per 100,000 population
                 ]
un_data.drop(columns=["Dimension", "Sex",	"Age"	,
                      "Source", "Region", "Indicator",
                      "Year", "Unit of measurement", "Iso3_code",
                      "Subregion"], inplace=True) #Subregion

In [39]:
un_data

1,Country,Category,VALUE,year
11377,Armenia,Corruption,26.952645,2013
11378,Austria,Corruption,40.556450,2013
11379,Switzerland,Corruption,60.383017,2013
11380,Chile,Corruption,1.936045,2013
11381,Colombia,Corruption,50.787308,2013
...,...,...,...,...
21579,Singapore,Unlawful interception or access of computer data,0.100992,2021
21580,El Salvador,Unlawful interception or access of computer data,0.000000,2021
21581,Serbia,Unlawful interception or access of computer data,0.000000,2021
21582,Slovakia,Unlawful interception or access of computer data,0.385489,2021
21583,Eswatini,Unlawful interception or access of computer data,0.000000,2021

In [ ]:
un_data.Indicator.unique()

In [37]:
un_data[un_data["VALUE"]==0] #417 0/missing, diferentes anos

1,Iso3_code,Country,Subregion,Category,VALUE,year
11409,BRB,Barbados,Latin America and the Caribbean,Corruption,0.0,2014
11421,GRD,Grenada,Latin America and the Caribbean,Corruption,0.0,2014
11451,BRB,Barbados,Latin America and the Caribbean,Corruption,0.0,2015
11464,GRD,Grenada,Latin America and the Caribbean,Corruption,0.0,2015
11500,BRB,Barbados,Latin America and the Caribbean,Corruption,0.0,2016
...,...,...,...,...,...,...
21559,CYP,Cyprus,Western Asia,Unlawful interception or access of computer data,0.0,2021
21572,LVA,Latvia,Northern Europe,Unlawful interception or access of computer data,0.0,2021
21580,SLV,El Salvador,Latin America and the Caribbean,Unlawful interception or access of computer data,0.0,2021
21581,SRB,Serbia,Southern Europe,Unlawful interception or access of computer data,0.0,2021
21583,SWZ,Eswatini,Sub-Saharan Africa,Unlawful interception or access of computer data,0.0,2021

In [53]:
country_mapping = {
    'Netherlands (Kingdom of the)': "Netherlands",
    'United Kingdom (England and Wales)': "United Kingdom"

}
un_data["Country"] = un_data["Country"].replace(country_mapping)

your_data = un_data
mapping_data = pd.read_csv('../data/processed/merged_.csv')

your_data_countries = set(your_data['Country'])
mapping_countries = set(mapping_data['country'])


# Find countries in your data that are not in the mapping file
countries_not_in_mapping = your_data_countries - mapping_countries
filtered_data = your_data[~your_data['Country'].isin(countries_not_in_mapping)].reset_index(drop=True)

In [54]:
filtered_data

1,Country,Category,VALUE,year
0,Austria,Corruption,40.556450,2013
1,Switzerland,Corruption,60.383017,2013
2,Cyprus,Corruption,2.227994,2013
3,Germany,Corruption,8.606696,2013
4,Denmark,Corruption,26.735948,2013
...,...,...,...,...
3280,Malta,Unlawful interception or access of computer data,11.960178,2021
3281,Poland,Unlawful interception or access of computer data,12.979105,2021
3282,Portugal,Unlawful interception or access of computer data,6.141824,2021
3283,Romania,Unlawful interception or access of computer data,0.496674,2021
3284,Serbia,Unlawful interception or access of computer data,0.000000,2021

In [72]:
pivoted_data = filtered_data.pivot(index=['Country', 'year'], columns='Category', values='VALUE')
pivoted_data = pivoted_data.reset_index()
pivoted_data.columns.name = None
pivoted_data

,Country,year,Burglary,Corruption,Corruption: Bribery,Corruption: Other acts of corruption,Fraud,Fraud: Cyber-related (Cy),Money laundering,Smuggling of migrants,Theft,Theft: of a motorized vehicle,Unlawful access to a computer system,Unlawful interception or access of computer data,Unlawful interference with a computer system or computer data
0,Albania,2012,11.133420,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.773284,23.407843,NaN,NaN,NaN
1,Albania,2013,12.642821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.021978,19.812859,NaN,NaN,NaN
2,Albania,2014,10.228487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,276.030459,13.903808,NaN,NaN,NaN
3,Albania,2015,8.013930,35.906568,7.424160,28.482408,25.533559,1.769309,11.830087,NaN,243.262662,9.609777,0.173462,0.0,1.387693
4,Albania,2016,NaN,35.820112,8.885609,26.934503,31.689692,1.770180,12.668935,2.186693,195.795788,10.343405,0.416513,0.0,2.499078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,United Kingdom,2017,745.004711,NaN,NaN,NaN,1086.666782,NaN,NaN,NaN,2677.699965,190.694991,7.180235,NaN,0.553242
392,United Kingdom,2018,715.324728,NaN,NaN,NaN,1172.982340,NaN,NaN,NaN,2694.927173,203.184228,NaN,NaN,NaN
393,United Kingdom,2019,645.883300,NaN,NaN,NaN,1303.058689,NaN,NaN,NaN,NaN,200.056057,NaN,NaN,NaN
394,United Kingdom,2020,448.128327,NaN,NaN,NaN,1387.086116,NaN,NaN,NaN,NaN,156.847677,NaN,NaN,NaN
395,United Kingdom,2021,446.801954,NaN,NaN,NaN,1619.466010,NaN,NaN,NaN,NaN,189.930639,NaN,NaN,NaN

In [67]:
pivoted_data[pivoted_data.isna().all(axis=1)]

Empty DataFrame
Columns: [Country, year, Burglary, Corruption, Corruption: Bribery, Corruption: Other acts of corruption, Fraud, Fraud: Cyber-related (Cy), Money laundering, Smuggling of migrants, Theft, Theft: of a motorized vehicle, Unlawful access to a computer system, Unlawful interception or access of computer data, Unlawful interference with a computer system or computer data]
Index: []

In [73]:
pivoted_data.to_csv("../data/processed/un_data.csv", index=False, index_label=False)