In [57]:
import pandas as pd

# Load all the datasets

oecd = pd.read_csv("../data/processed/oecd_years.csv")
cpi = pd.read_csv("../data/processed/CPI.csv")
gdp = pd.read_csv("../data/processed/gdp.csv")
happiness = pd.read_csv("../data/processed/happiness.csv")
world_bank = pd.read_csv("../data/processed/world_bank_years.csv")

# Display the first few rows of each dataset for inspection (optional)
print("OECD DataFrame:")
print(oecd.head())

print("\nCPI DataFrame:")
print(cpi.head())

print("\nGDP DataFrame:")
print(gdp.head())

print("\nHappiness DataFrame:")
print(happiness.head())

print("\nWorld Bank DataFrame:")
print(world_bank.head())

# Standardize column names for country and year
oecd.rename(columns={'cname': 'country'}, inplace=True)
happiness.rename(columns={'Country Name': 'country', 'Year': 'year'}, inplace=True)
gdp.rename(columns={'CountryName': 'country'}, inplace=True)
cpi.rename(columns={'Economy Name': 'country', 'Year': 'year'}, inplace=True)
world_bank.rename(columns={'date': 'year'}, inplace=True)

OECD DataFrame:
     cname    year Civil Justice is Free of Corruption  \
0  Albania  2003.0                                 NaN
1  Albania  2004.0                                 NaN
2  Albania  2005.0                                 NaN
3  Albania  2006.0                                 NaN
4  Albania  2007.0                                 NaN

  Criminal System is Free of Corruption  \
0                                   NaN
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN

  Corruption Commission Present in Constitution Civil Rights  \
0                                          2,00          NaN
1                                          2,00          NaN
2                                          2,00         8,00
3                                          2,00          NaN
4                                          2,00         8,00

  Anti Corruption Policy The Bayesian Corruption Indicator
0                    NaN                             58,32
1                    NaN                             57,87
2                   4,00                             57,98
3                    NaN                             57,75
4                   4,00                             57,44

CPI DataFrame:
  Economy ISO3 Economy Name  Year  Corruption Perceptions Index Rank  \
0          ALB      Albania  2012                              113.0
1          ALB      Albania  2013                              116.0
2          ALB      Albania  2014                              110.0
3          ALB      Albania  2015                               88.0
4          ALB      Albania  2016                               83.0

   Corruption Perceptions Index Score  Corruption Perceptions Index Sources  \
0                                33.0                                   7.0
1                                31.0                                   7.0
2                                33.0                                   7.0
3                                36.0                                   7.0
4                                39.0                                   7.0

   Corruption Perceptions Index Standard Error
0                                         2.00
1                                         2.10
2                                         1.51
3                                         3.58
4                                         1.99

GDP DataFrame:
   Unnamed: 0 Alpha3Code CountryName  year     gdp
0           0        ALB     Albania  2005  5160.0
1           1        ALB     Albania  2006  5788.4
2           2        ALB     Albania  2007  6719.9
3           3        ALB     Albania  2008  7691.0
4           4        ALB     Albania  2009  8101.3

Happiness DataFrame:
  Country Name          Regional Indicator  Year  Life Ladder  \
0      Albania  Central and Eastern Europe  2007     4.634252
1      Albania  Central and Eastern Europe  2009     5.485470
2      Albania  Central and Eastern Europe  2010     5.268937
3      Albania  Central and Eastern Europe  2011     5.867422
4      Albania  Central and Eastern Europe  2012     5.510124

   Log GDP Per Capita  Social Support  Healthy Life Expectancy At Birth  \
0            9.121704        0.821372                         66.760002
1            9.241429        0.833047                         67.320000
2            9.282793        0.733152                         67.599998
3            9.310619        0.759434                         67.879997
4            9.326344        0.784502                         68.160004

   Freedom To Make Life Choices  Generosity  Perceptions Of Corruption  \
0                      0.528605   -0.010429                   0.874700
1                      0.525223   -0.159259                   0.863665
2                      0.568958   -0.173675                   0.726262
3                      0.487496   -0.206186                   0.877003
4                      0.601512   -0.170467                   0.847675

   Positive Affect  Negative Affect  Confidence In National Government
0         0.488819         0.246335                           0.300681
1         0.564474         0.279257                                NaN
2         0.576077         0.300060                                NaN
3         0.565759         0.256577                                NaN
4         0.553473         0.271393                           0.364894

World Bank DataFrame:
   country  date  agricultural_land%  forest_land%  avg_precipitation  \
0  Albania  2005           39.306569     28.309672             1485.0
1  Albania  2006           40.875912     28.356277             1485.0
2  Albania  2007           40.839416     28.402883             1485.0
3  Albania  2008           43.102190     28.449489             1485.0
4  Albania  2009           43.843066     28.496095             1485.0

   trade_in_services%  control_of_corruption_estimate  \
0           32.905109                       -0.813264
1           36.187926                       -0.790545
2           37.734105                       -0.706940
3           39.656173                       -0.605212
4           40.601399                       -0.545271

   control_of_corruption_std  access_to_electricity%  \
0                   0.160477               99.371124
1                   0.152564               99.389366
2                   0.155251               99.428452
3                   0.144491              100.000000
4                   0.149075               99.554451

   renewvable_energy_consumption%  ...  government_expenditure_on_education%  \
0                           36.77  ...                              3.281550
1                           31.62  ...                              3.191460
2                           32.00  ...                              3.275930
3                           35.79  ...                              3.509226
4                           37.09  ...                                   NaN

   government_health_expenditure%  gini_index  birth_rate  death_rate  \
0                        2.665318        30.6      13.235       6.306
1                        2.559311         NaN      12.539       6.477
2                        2.435714         NaN      12.070       6.318
3                        2.271264        30.0      11.868       6.570
4                        2.338068         NaN      11.841       6.810

   life_expectancy_at_birth  population  rural_population  \
0                    76.621   3011487.0         1604189.0
1                    76.816   2992547.0         1561661.0
2                    77.549   2970017.0         1517619.0
3                    77.653   2947314.0         1473922.0
4                    77.781   2927519.0         1432259.0

   voice_and_accountability_estimate  intentional_homicides
0                           0.003672               5.078094
1                           0.075890               3.163096
2                           0.113008               3.528127
3                           0.174939               3.150738
4                           0.141477               2.900488

[5 rows x 32 columns]

In [59]:
# List of your DataFrames
dataframes = [oecd, cpi, gdp, happiness, world_bank]

# Iterate over each DataFrame and replace missing values in 'year' with 1900
for i, df in enumerate(dataframes):
    if 'year' in df.columns:  # Ensure the 'year' column exists in the DataFrame
        df['year'] = df['year'].apply(lambda x: int(float(x)) if pd.notna(x) else 1900)
        print(f"Updated 'year' column in DataFrame {i + 1}")

# Verify changes (optional)
for i, df in enumerate(dataframes):
    print(f"DataFrame {i + 1} sample:")
    print(df[['year']].head())

Updated 'year' column in DataFrame 1
Updated 'year' column in DataFrame 2
Updated 'year' column in DataFrame 3
Updated 'year' column in DataFrame 4
Updated 'year' column in DataFrame 5
DataFrame 1 sample:
   year
0  2003
1  2004
2  2005
3  2006
4  2007
DataFrame 2 sample:
   year
0  2012
1  2013
2  2014
3  2015
4  2016
DataFrame 3 sample:
   year
0  2005
1  2006
2  2007
3  2008
4  2009
DataFrame 4 sample:
   year
0  2007
1  2009
2  2010
3  2011
4  2012
DataFrame 5 sample:
   year
0  2005
1  2006
2  2007
3  2008
4  2009

In [61]:


oecd['year'] = oecd['year'].apply(lambda x: int(float(x)) if pd.notna(x) else None)


oecd['year'] = oecd['year'].astype(str)
happiness['year'] = happiness['year'].astype(str)
cpi['year'] = cpi['year'].astype(str)
gdp['year'] = gdp['year'].astype(str)
world_bank['year'] = world_bank['year'].astype(str)

# Merge all datasets on 'country' and 'year'
merged_data = oecd.merge(cpi, on=['country', 'year'], how='outer') \
                        .merge(gdp, on=['country', 'year'], how='outer') \
                        .merge(happiness, on=['country', 'year'], how='outer') \
                        .merge(world_bank, on=['country', 'year'], how='outer')

# Display the merged DataFrame to the user
merged_data.head()

,country,year,Civil Justice is Free of Corruption,Criminal System is Free of Corruption,Corruption Commission Present in Constitution,Civil Rights,Anti Corruption Policy,The Bayesian Corruption Indicator,Economy ISO3,Corruption Perceptions Index Rank,...,government_expenditure_on_education%,government_health_expenditure%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,intentional_homicides
0,Albania,2003,NaN,NaN,"2,00",NaN,NaN,"58,32",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2004,NaN,NaN,"2,00",NaN,NaN,"57,87",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2005,NaN,NaN,"2,00","8,00","4,00","57,98",NaN,NaN,...,3.28155,2.665318,30.6,13.235,6.306,76.621,3011487.0,1604189.0,0.003672,5.078094
3,Albania,2006,NaN,NaN,"2,00",NaN,NaN,"57,75",NaN,NaN,...,3.19146,2.559311,NaN,12.539,6.477,76.816,2992547.0,1561661.0,0.075890,3.163096
4,Albania,2007,NaN,NaN,"2,00","8,00","4,00","57,44",NaN,NaN,...,3.27593,2.435714,NaN,12.070,6.318,77.549,2970017.0,1517619.0,0.113008,3.528127

In [67]:

merged_data.to_csv("../data/processed/merged_.csv", index=False, index_label=False)

In [70]:
merged_data

,country,year,Civil Justice is Free of Corruption,Criminal System is Free of Corruption,Corruption Commission Present in Constitution,Civil Rights,Anti Corruption Policy,The Bayesian Corruption Indicator,Economy ISO3,Corruption Perceptions Index Rank,...,government_expenditure_on_education%,government_health_expenditure%,gini_index,birth_rate,death_rate,life_expectancy_at_birth,population,rural_population,voice_and_accountability_estimate,intentional_homicides
0,Albania,2003,NaN,NaN,"2,00",NaN,NaN,"58,32",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2004,NaN,NaN,"2,00",NaN,NaN,"57,87",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,2005,NaN,NaN,"2,00","8,00","4,00","57,98",NaN,NaN,...,3.281550,2.665318,30.6,13.235,6.306,76.62100,3011487.0,1604189.0,0.003672,5.078094
3,Albania,2006,NaN,NaN,"2,00",NaN,NaN,"57,75",NaN,NaN,...,3.191460,2.559311,NaN,12.539,6.477,76.81600,2992547.0,1561661.0,0.075890,3.163096
4,Albania,2007,NaN,NaN,"2,00","8,00","4,00","57,44",NaN,NaN,...,3.275930,2.435714,NaN,12.070,6.318,77.54900,2970017.0,1517619.0,0.113008,3.528127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,United Kingdom,2020,NaN,NaN,NaN,NaN,NaN,NaN,GBR,11.0,...,5.497700,10.024661,32.6,10.100,10.100,80.35122,67081234.0,10798066.0,1.231142,1.003587
1024,United Kingdom,2021,NaN,NaN,NaN,NaN,NaN,NaN,GBR,11.0,...,5.327368,NaN,32.4,10.100,9.700,80.70000,67026292.0,10622327.0,1.264685,NaN
1025,United Kingdom,2022,NaN,NaN,NaN,NaN,NaN,NaN,GBR,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,66971395.0,10448877.0,1.232193,NaN
1026,United Kingdom,2023,NaN,NaN,NaN,NaN,NaN,NaN,GBR,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1027,NaN,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN