In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/raw/fdi/fdi1.csv")
df2 = pd.read_csv("../data/raw/fdi/fdi2.csv")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    268 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  266 non-null    object
 5   2000 [YR2000]  266 non-null    object
 6   2014 [YR2014]  266 non-null    object
 7   2015 [YR2015]  266 non-null    object
 8   2016 [YR2016]  266 non-null    object
 9   2017 [YR2017]  266 non-null    object
 10  2018 [YR2018]  266 non-null    object
 11  2019 [YR2019]  266 non-null    object
 12  2020 [YR2020]  266 non-null    object
 13  2021 [YR2021]  266 non-null    object
 14  2022 [YR2022]  266 non-null    object
 15  2023 [YR2023]  266 non-null    object
dtypes: object(16)
memory usage: 34.0+ KB

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    270 non-null    object
 1   Series Code    268 non-null    object
 2   Country Name   268 non-null    object
 3   Country Code   268 non-null    object
 4   1990 [YR1990]  268 non-null    object
 5   2000 [YR2000]  268 non-null    object
 6   2014 [YR2014]  268 non-null    object
 7   2015 [YR2015]  268 non-null    object
 8   2016 [YR2016]  268 non-null    object
 9   2017 [YR2017]  268 non-null    object
 10  2018 [YR2018]  268 non-null    object
 11  2019 [YR2019]  268 non-null    object
 12  2020 [YR2020]  268 non-null    object
 13  2021 [YR2021]  266 non-null    object
 14  2022 [YR2022]  266 non-null    object
 15  2023 [YR2023]  266 non-null    object
dtypes: object(16)
memory usage: 34.2+ KB