In [51]:
import pandas as pd
import os

In [52]:
gdp = pd.read_csv("../data/raw/gdp.csv")

In [53]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IndicatorCode    1045 non-null   int64
 1   IndicatorName    1045 non-null   object
 2   VariableName     1045 non-null   object
 3   MeasurementName  1045 non-null   object
 4   CountryCode      1045 non-null   int64
 5   Alpha3Code       1045 non-null   object
 6   CountryName      1045 non-null   object
 7   PeriodCode       1045 non-null   int64
 8   Value            1045 non-null   object
 9   Unnamed: 9       0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 81.8+ KB

In [54]:
gdp.head()

,IndicatorCode,IndicatorName,VariableName,MeasurementName,CountryCode,Alpha3Code,CountryName,PeriodCode,Value,Unnamed: 9
0,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2005,5160.0,NaN
1,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2006,5788.4,NaN
2,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2007,6719.9,NaN
3,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2008,7691.0,NaN
4,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2009,8101.3,NaN

In [55]:
gdp = gdp.drop(labels=["IndicatorCode", "CountryCode", "Unnamed: 9", "IndicatorName", "VariableName", "MeasurementName" ], axis=1)

In [56]:
gdp.head()

  Alpha3Code CountryName  PeriodCode   Value
0        ALB     Albania        2005  5160.0
1        ALB     Albania        2006  5788.4
2        ALB     Albania        2007  6719.9
3        ALB     Albania        2008  7691.0
4        ALB     Albania        2009  8101.3

In [57]:
countries = pd.read_csv("../data/processed/europe_countries.csv")
iso3_europe_all = set(countries["ISO3 Code"])

In [58]:
iso3_europe_gdp = set(gdp["Alpha3Code"])

In [59]:
len(iso3_europe_gdp)

55

In [60]:
iso3_europe_gdp-iso3_europe_all

{'ARM', 'AZE', 'CAN', 'ISR', 'KAZ', 'KGZ', 'TJK', 'TKM', 'USA', 'UZB'}

In [61]:
gdp = gdp[gdp["Alpha3Code"].isin(iso3_europe_all)]
gdp.rename(columns={"PeriodCode": "year", "Value": "gdp"}, inplace=True)
df_pivoted = gdp

In [62]:
#showAustria = gdp[gdp['Alpha3Code']=="AUT"]

In [63]:
#showAustria.head(20)

In [64]:

# Example: pivot so that rows are identified by CountryName (and possibly other columns),
# columns are the PeriodCode (years), and values are the GDP.
#df_pivoted = gdp.pivot(
#    index=["Alpha3Code", "CountryName"],
#    columns="PeriodCode",
#    values="Value"
#).reset_index()

# If you prefer not to reset the index, you can omit .reset_index() 
# and keep Alpha3Code and CountryName as your row index.

In [65]:
df_pivoted.head(30)

   Alpha3Code CountryName  year      gdp
0         ALB     Albania  2005   5160.0
1         ALB     Albania  2006   5788.4
2         ALB     Albania  2007   6719.9
3         ALB     Albania  2008   7691.0
4         ALB     Albania  2009   8101.3
5         ALB     Albania  2010   8593.4
6         ALB     Albania  2011   9112.3
7         ALB     Albania  2012   9348.1
8         ALB     Albania  2013   9624.9
9         ALB     Albania  2014  10384.7
10        ALB     Albania  2015  10702.7
11        ALB     Albania  2016  11139.9
12        ALB     Albania  2017  11634.1
13        ALB     Albania  2018  12200.7
14        ALB     Albania  2019  13049.6
15        ALB     Albania  2020  12802.1
16        ALB     Albania  2021  13823.8
17        ALB     Albania  2022       ..
18        ALB     Albania  2023       ..
19        AND     Andorra  2005       ..
20        AND     Andorra  2006       ..
21        AND     Andorra  2007       ..
22        AND     Andorra  2008       ..
23        AND     Andorra  2009  30731.8
24        AND     Andorra  2010  34307.9
25        AND     Andorra  2011  34616.4
26        AND     Andorra  2012  34791.7
27        AND     Andorra  2013  32108.8
28        AND     Andorra  2014  33753.2
29        AND     Andorra  2015  33769.2

In [66]:
df_pivoted.to_csv("../data/processed/gdp.csv")