In [1]:
import pandas as pd
import os

In [2]:
gdp = pd.read_csv("../data/raw/gdp.csv")

In [3]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IndicatorCode    1045 non-null   int64
 1   IndicatorName    1045 non-null   object
 2   VariableName     1045 non-null   object
 3   MeasurementName  1045 non-null   object
 4   CountryCode      1045 non-null   int64
 5   Alpha3Code       1045 non-null   object
 6   CountryName      1045 non-null   object
 7   PeriodCode       1045 non-null   int64
 8   Value            1045 non-null   object
 9   Unnamed: 9       0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 81.8+ KB

In [22]:
gdp.head()

,IndicatorCode,IndicatorName,VariableName,MeasurementName,CountryCode,Alpha3Code,CountryName,PeriodCode,Value,Unnamed: 9
0,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2005,5160.0,NaN
1,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2006,5788.4,NaN
2,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2007,6719.9,NaN
3,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2008,7691.0,NaN
4,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2009,8101.3,NaN

In [23]:
gdp = gdp.drop(labels=["IndicatorCode", "CountryCode", "Unnamed: 9" ], axis=1)

In [24]:
gdp.head()

,IndicatorName,VariableName,MeasurementName,Alpha3Code,CountryName,PeriodCode,Value
0,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,ALB,Albania,2005,5160.0
1,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,ALB,Albania,2006,5788.4
2,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,ALB,Albania,2007,6719.9
3,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,ALB,Albania,2008,7691.0
4,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,ALB,Albania,2009,8101.3

In [25]:
countries = pd.read_csv("../data/processed/europe_countries.csv")
iso3_europe_all = set(countries["ISO3 Code"])

In [26]:
iso3_europe_gdp = set(gdp["Alpha3Code"])

In [27]:
len(iso3_europe_gdp)

55

In [28]:
iso3_europe_gdp-iso3_europe_all

{'ARM', 'AZE', 'CAN', 'ISR', 'KAZ', 'KGZ', 'TJK', 'TKM', 'USA', 'UZB'}

In [29]:
gdp = gdp[gdp["Alpha3Code"].isin(iso3_europe_all)]

In [30]:
showAustria = gdp[gdp['Alpha3Code']=="AUT"]

In [31]:
showAustria.head(20)

,IndicatorName,VariableName,MeasurementName,Alpha3Code,CountryName,PeriodCode,Value
57,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2005,25396.4
58,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2006,27041.6
59,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2007,27668.2
60,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2008,29138.7
61,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2009,30057.8
62,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2010,30861.4
63,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2011,32290.0
64,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2012,33796.6
65,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2013,34911.4
66,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2014,35274.6
67,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2015,35900.8
68,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2016,37613.2
69,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2017,38740.6
70,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2018,40263.1
71,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2019,42719.9
72,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2020,41492.7
73,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2021,45455.4
74,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2022,50773.4
75,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,AUT,Austria,2023,53176.5

In [32]:

# Example: pivot so that rows are identified by CountryName (and possibly other columns),
# columns are the PeriodCode (years), and values are the GDP.
df_pivoted = gdp.pivot(
    index=["Alpha3Code", "CountryName"], 
    columns="PeriodCode", 
    values="Value"
).reset_index()

# If you prefer not to reset the index, you can omit .reset_index() 
# and keep Alpha3Code and CountryName as your row index.

In [48]:
df_pivoted.head(30)

PeriodCode,Alpha3Code,CountryName,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ALB,Albania,5160.0,5788.4,6719.9,7691.0,8101.3,8593.4,9112.3,9348.1,...,10384.7,10702.7,11139.9,11634.1,12200.7,13049.6,12802.1,13823.8,..,..
1,AND,Andorra,..,..,..,..,30731.8,34307.9,34616.4,34791.7,...,33753.2,33769.2,36869.9,38152.5,41032.1,42629.2,42750.7,48357.6,..,..
2,AUT,Austria,25396.4,27041.6,27668.2,29138.7,30057.8,30861.4,32290.0,33796.6,...,35274.6,35900.8,37613.2,38740.6,40263.1,42719.9,41492.7,45455.4,50773.4,53176.5
3,BEL,Belgium,23981.8,25381.8,26223.9,27802.7,28762.9,30326.2,31240.1,32583.7,...,34547.0,35010.4,36620.8,38035.4,39748.6,42452.0,41802.3,45593.7,51762.0,54326.5
4,BGR,Bulgaria,8851.2,9577.3,10763.3,11676.3,11094.6,11841.8,12358.4,13363.3,...,14326.7,14768.9,15791.4,16923.0,18332.2,20370.4,21172.9,23981.7,27111.7,29625.3
5,BIH,Bosnia and Herzegovina,7282.9,7968.8,8600.9,9471.4,9481.3,9652.2,10132.7,10493.2,...,11028.0,11936.6,12514.5,12744.1,13359.8,14392.0,14308.8,15080.8,16781.6,..
6,BLR,Belarus,7038.3,7789.1,8679.8,9522.3,10159.2,11001.2,10266.4,11110.1,...,12606.4,12262.4,12497.7,12896.9,13857.0,15767.4,17146.9,18501.4,19750.9,21957.8
7,CHE,Switzerland,27783.9,29927.3,32092.8,33761.2,34493.5,35042.2,36904.1,38188.8,...,40578.4,41997.0,43321.7,44215.2,45034.3,46987.4,46696.9,50381.9,56366.0,58459.8
8,CYP,Cyprus,21744.8,23598.0,26536.3,29297.7,28060.0,28326.5,28447.3,27443.3,...,25871.0,26850.5,29060.5,30712.9,32596.9,35863.9,34995.4,37665.5,43151.3,47053.9
9,CZE,Czechia,15090.1,16029.7,17157.9,18592.1,19218.5,19697.5,20360.9,20516.2,...,22430.6,22934.5,24634.0,26661.8,28688.6,31251.7,31300.3,34087.8,36308.6,37395.3
10,DEU,Germany,25002.3,26420.6,27305.8,28655.6,29501.7,30489.7,32051.6,32932.6,...,35141.0,35496.6,37647.0,39176.6,40821.7,43303.8,42833.7,45563.3,50602.9,52319.0
11,DNK,Denmark,24819.0,26855.3,28174.0,30065.7,30932.9,32449.0,33271.9,33559.4,...,35142.4,35681.0,37453.5,39555.4,41386.8,43672.6,44891.7,49372.5,51454.9,53301.7
12,ESP,Spain,20832.1,23126.4,24502.7,25414.4,24958.2,25021.4,25302.6,25304.7,...,26623.7,27363.7,28971.2,30626.2,31443.4,33541.2,30629.1,34059.8,37977.1,40600.4
13,EST,Estonia,11813.9,13500.4,15140.0,16345.4,15115.4,15541.0,16916.8,18146.4,...,20515.2,21277.5,22924.8,24217.3,25979.0,28437.8,29065.8,31630.2,35129.4,36820.2
14,FIN,Finland,22768.3,24503.5,26241.4,28411.5,28936.3,29565.4,31148.2,31774.1,...,32825.3,33275.4,34652.0,35633.8,37015.7,39118.0,39783.9,43099.8,46531.9,49685.8
15,FRA,France,23691.2,25168.5,26285.6,27208.6,27750.3,28707.1,29774.2,29939.6,...,31863.8,32183.5,33849.1,34994.5,36354.7,39681.5,39035.9,41898.5,45474.5,48469.3
16,GBR,United Kingdom,27531.1,29015.1,29591.2,30891.2,30224.2,31157.7,31575.7,32561.8,...,34769.3,35548.7,36991.2,38165.3,39194.3,41459.2,39277.7,43448.3,47168.1,..
17,GEO,Georgia,..,..,..,..,..,7388.5,8103.1,9298.2,...,10704.0,11026.1,11239.5,11757.9,12397.7,13757.2,15865.0,18078.4,19227.0,20382.6
18,GRC,Greece,21553.9,23382.4,24377.0,26389.1,26952.9,24848.5,23535.9,22666.0,...,23611.3,23651.7,24432.5,25651.6,26521.8,28533.5,27717.4,30020.5,34599.2,36396.9
19,HRV,Croatia,12758.9,14161.1,15682.5,16933.4,16504.6,16367.3,17514.9,18032.0,...,18540.7,18819.2,20065.2,21441.6,22762.5,25690.2,26118.5,29547.7,33071.6,35973.9
20,HUN,Hungary,13125.7,13825.3,14328.8,15511.5,15635.3,16084.1,16861.2,17117.2,...,18022.1,18469.6,19645.5,20889.1,22198.9,24616.9,25075.5,27033.5,30820.7,32203.3
21,IRL,Ireland,24154.4,26583.1,29015.3,29565.6,27892.7,28581.0,29407.1,29453.5,...,30384.2,31522.3,33280.0,34352.1,36221.8,37628.4,36563.2,41174.2,47843.7,51761.6
22,ISL,Iceland,30930.3,32017.3,32932.4,33263.6,32080.3,30643.3,32067.5,33504.2,...,35797.9,36671.5,39376.9,41788.5,43426.7,46376.3,45940.4,50344.6,57587.6,60638.8
23,ITA,Italy,23680.0,25467.6,26508.6,27873.8,27892.1,28341.9,29357.3,29367.5,...,29381.3,29857.5,32030.9,33348.8,34425.3,36597.1,34921.5,38332.1,43780.9,45402.3
24,LIE,Liechtenstein,59082.3,65629.9,72781.4,73703.8,68355.0,72727.1,72019.8,74361.3,...,83137.7,84633.3,85144.9,89294.7,..,..,..,..,..,..
25,LTU,Lithuania,12020.2,13717.3,15416.3,17283.7,16128.4,16689.5,18238.4,19436.5,...,21779.9,22624.6,24305.4,25941.2,27637.7,30486.6,30702.5,34239.6,37757.0,39442.9
26,LUX,Luxembourg,37733.4,40514.3,41497.4,44199.7,44700.2,45273.3,47579.7,48857.7,...,51168.2,52333.4,54566.3,56752.4,58605.1,61560.4,59383.1,65905.6,70374.6,73497.2
27,LVA,Latvia,10478.3,12013.5,13205.7,14220.1,13051.8,14084.7,14781.5,15767.0,...,17968.5,18592.7,20054.9,21498.9,22857.4,24762.7,25012.1,27571.3,31074.5,32824.8
28,MCO,Monaco,..,91882.9,106610.2,110026.4,102158.3,106355.5,115376.7,116255.8,...,138654.5,142450.0,149667.6,145942.3,..,..,..,..,..,..
29,MDA,Republic of Moldova,..,..,..,..,..,5572.5,6080.8,6477.0,...,7458.5,7433.9,8253.8,8876.2,9014.3,10095.0,8798.9,10148.2,10566.7,..

In [49]:
df_pivoted = df_pivoted.drop(labels=["PeriodCode"], axis=1)

KeyError: "['PeriodCode'] not found in axis"

In [114]:
df = pd.read_csv("../data/processed/gdp.csv")

In [116]:
df = df.drop(labels=["Unnamed: 0"], axis=1)

In [118]:
df.head()

,Alpha3Code,CountryName,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ALB,Albania,5160.0,5788.4,6719.9,7691.0,8101.3,8593.4,9112.3,9348.1,...,10384.7,10702.7,11139.9,11634.1,12200.7,13049.6,12802.1,13823.8,..,..
1,AND,Andorra,..,..,..,..,30731.8,34307.9,34616.4,34791.7,...,33753.2,33769.2,36869.9,38152.5,41032.1,42629.2,42750.7,48357.6,..,..
2,AUT,Austria,25396.4,27041.6,27668.2,29138.7,30057.8,30861.4,32290.0,33796.6,...,35274.6,35900.8,37613.2,38740.6,40263.1,42719.9,41492.7,45455.4,50773.4,53176.5
3,BEL,Belgium,23981.8,25381.8,26223.9,27802.7,28762.9,30326.2,31240.1,32583.7,...,34547.0,35010.4,36620.8,38035.4,39748.6,42452.0,41802.3,45593.7,51762.0,54326.5
4,BGR,Bulgaria,8851.2,9577.3,10763.3,11676.3,11094.6,11841.8,12358.4,13363.3,...,14326.7,14768.9,15791.4,16923.0,18332.2,20370.4,21172.9,23981.7,27111.7,29625.3

In [119]:
df.to_csv("../data/processed/gdp.csv")

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Alpha3Code   45 non-null     object
 1   CountryName  45 non-null     object
 2   2005         45 non-null     object
 3   2006         45 non-null     object
 4   2007         45 non-null     object
 5   2008         45 non-null     object
 6   2009         45 non-null     object
 7   2010         45 non-null     float64
 8   2011         45 non-null     float64
 9   2012         45 non-null     float64
 10  2013         45 non-null     float64
 11  2014         45 non-null     object
 12  2015         45 non-null     object
 13  2016         45 non-null     object
 14  2017         45 non-null     object
 15  2018         45 non-null     object
 16  2019         45 non-null     object
 17  2020         45 non-null     object
 18  2021         45 non-null     object
 19  2022         45 non-null     object
 20  2023         45 non-null     object
dtypes: float64(4), object(17)
memory usage: 7.5+ KB

In [121]:
df.count(numeric_only=True)

2010    45
2011    45
2012    45
2013    45
dtype: int64

In [139]:
x = df["2022"][2]

print(x)

print(type(x))

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False
    
len(df.columns)


# Apply the is_number function to each element
numeric_mask = df.applymap(is_number)

# Replace non-numeric values with NaN for clarity (optional)
#numeric_values = df.where(numeric_mask)

print("Numeric Values per Row:")
print(numeric_mask)

50773.4
<class 'str'>
Numeric Values per Row:
    Alpha3Code  CountryName   2005   2006   2007   2008   2009  2010  2011  \
0        False        False   True   True   True   True   True  True  True
1        False        False  False  False  False  False   True  True  True
2        False        False   True   True   True   True   True  True  True
3        False        False   True   True   True   True   True  True  True
4        False        False   True   True   True   True   True  True  True
5        False        False   True   True   True   True   True  True  True
6        False        False   True   True   True   True   True  True  True
7        False        False   True   True   True   True   True  True  True
8        False        False   True   True   True   True   True  True  True
9        False        False   True   True   True   True   True  True  True
10       False        False   True   True   True   True   True  True  True
11       False        False   True   True   True   True   True  True  True
12       False        False   True   True   True   True   True  True  True
13       False        False   True   True   True   True   True  True  True
14       False        False   True   True   True   True   True  True  True
15       False        False   True   True   True   True   True  True  True
16       False        False   True   True   True   True   True  True  True
17       False        False  False  False  False  False  False  True  True
18       False        False   True   True   True   True   True  True  True
19       False        False   True   True   True   True   True  True  True
20       False        False   True   True   True   True   True  True  True
21       False        False   True   True   True   True   True  True  True
22       False        False   True   True   True   True   True  True  True
23       False        False   True   True   True   True   True  True  True
24       False        False   True   True   True   True   True  True  True
25       False        False   True   True   True   True   True  True  True
26       False        False   True   True   True   True   True  True  True
27       False        False   True   True   True   True   True  True  True
28       False        False  False   True   True   True   True  True  True
29       False        False  False  False  False  False  False  True  True
30       False        False   True   True   True   True   True  True  True
31       False        False   True   True   True   True   True  True  True
32       False        False  False   True   True   True   True  True  True
33       False        False   True   True   True   True   True  True  True
34       False        False   True   True   True   True   True  True  True
35       False        False   True   True   True   True   True  True  True
36       False        False   True   True   True   True   True  True  True
37       False        False   True   True   True   True   True  True  True
38       False        False   True   True   True   True   True  True  True
39       False        False   True   True   True   True   True  True  True
40       False        False   True   True   True   True   True  True  True
41       False        False   True   True   True   True   True  True  True
42       False        False   True   True   True   True   True  True  True
43       False        False   True   True   True   True   True  True  True
44       False        False  False  False  False  False  False  True  True

    2012  ...   2014   2015   2016   2017   2018   2019   2020   2021   2022  \
0   True  ...   True   True   True   True   True   True   True   True  False
1   True  ...   True   True   True   True   True   True   True   True  False
2   True  ...   True   True   True   True   True   True   True   True   True
3   True  ...   True   True   True   True   True   True   True   True   True
4   True  ...   True   True   True   True   True   True   True   True   True
5   True  ...   True   True   True   True   True   True   True   True   True
6   True  ...   True   True   True   True   True   True   True   True   True
7   True  ...   True   True   True   True   True   True   True   True   True
8   True  ...   True   True   True   True   True   True   True   True   True
9   True  ...   True   True   True   True   True   True   True   True   True
10  True  ...   True   True   True   True   True   True   True   True   True
11  True  ...   True   True   True   True   True   True   True   True   True
12  True  ...   True   True   True   True   True   True   True   True   True
13  True  ...   True   True   True   True   True   True   True   True   True
14  True  ...   True   True   True   True   True   True   True   True   True
15  True  ...   True   True   True   True   True   True   True   True   True
16  True  ...   True   True   True   True   True   True   True   True   True
17  True  ...   True   True   True   True   True   True   True   True   True
18  True  ...   True   True   True   True   True   True   True   True   True
19  True  ...   True   True   True   True   True   True   True   True   True
20  True  ...   True   True   True   True   True   True   True   True   True
21  True  ...   True   True   True   True   True   True   True   True   True
22  True  ...   True   True   True   True   True   True   True   True   True
23  True  ...   True   True   True   True   True   True   True   True   True
24  True  ...   True   True   True   True  False  False  False  False  False
25  True  ...   True   True   True   True   True   True   True   True   True
26  True  ...   True   True   True   True   True   True   True   True   True
27  True  ...   True   True   True   True   True   True   True   True   True
28  True  ...   True   True   True   True  False  False  False  False  False
29  True  ...   True   True   True   True   True   True   True   True   True
30  True  ...   True   True   True   True   True   True   True   True   True
31  True  ...   True   True   True   True   True   True   True   True   True
32  True  ...   True   True   True   True   True   True   True   True   True
33  True  ...   True   True   True   True   True   True   True   True   True
34  True  ...   True   True   True   True   True   True   True   True   True
35  True  ...   True   True   True   True   True   True   True   True   True
36  True  ...   True   True   True   True   True   True   True   True   True
37  True  ...   True   True   True   True   True   True   True   True   True
38  True  ...  False  False  False  False  False  False  False  False  False
39  True  ...   True   True   True   True   True   True   True   True   True
40  True  ...   True   True   True   True   True   True   True   True   True
41  True  ...   True   True   True   True   True   True   True   True   True
42  True  ...   True   True   True   True   True   True   True   True   True
43  True  ...   True   True   True   True   True   True   True   True   True
44  True  ...   True   True   True   True   True   True   True   True  False

     2023
0   False
1   False
2    True
3    True
4    True
5   False
6    True
7    True
8    True
9    True
10   True
11   True
12   True
13   True
14   True
15   True
16  False
17   True
18   True
19   True
20   True
21   True
22   True
23   True
24  False
25   True
26   True
27   True
28  False
29  False
30  False
31   True
32   True
33   True
34   True
35   True
36   True
37   True
38  False
39   True
40   True
41   True
42   True
43  False
44  False

[45 rows x 21 columns]

/var/folders/0n/jq4hk2n95c51k_c9nh0xpnrc0000gn/T/ipykernel_93263/1776395800.py:18: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  numeric_mask = df.applymap(is_number)

In [148]:
columns = df.columns

numeric_col = []

for v in range(len(columns)):
    if(is_number(columns[v])):
        numeric_col.append(columns[v])

In [150]:
print(numeric_col)

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [151]:

# Replace non-numeric values with NaN for clarity (optional)
numeric_values = df[numeric_col].where(numeric_mask)

In [154]:
numeric_values.isna().sum()

2005     6
2006     4
2007     4
2008     4
2009     3
2010     0
2011     0
2012     0
2013     0
2014     1
2015     1
2016     1
2017     1
2018     3
2019     3
2020     3
2021     3
2022     6
2023    11
dtype: int64

In [124]:
df.head()

,Alpha3Code,CountryName,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ALB,Albania,5160.0,5788.4,6719.9,7691.0,8101.3,8593.4,9112.3,9348.1,...,10384.7,10702.7,11139.9,11634.1,12200.7,13049.6,12802.1,13823.8,..,..
1,AND,Andorra,..,..,..,..,30731.8,34307.9,34616.4,34791.7,...,33753.2,33769.2,36869.9,38152.5,41032.1,42629.2,42750.7,48357.6,..,..
2,AUT,Austria,25396.4,27041.6,27668.2,29138.7,30057.8,30861.4,32290.0,33796.6,...,35274.6,35900.8,37613.2,38740.6,40263.1,42719.9,41492.7,45455.4,50773.4,53176.5
3,BEL,Belgium,23981.8,25381.8,26223.9,27802.7,28762.9,30326.2,31240.1,32583.7,...,34547.0,35010.4,36620.8,38035.4,39748.6,42452.0,41802.3,45593.7,51762.0,54326.5
4,BGR,Bulgaria,8851.2,9577.3,10763.3,11676.3,11094.6,11841.8,12358.4,13363.3,...,14326.7,14768.9,15791.4,16923.0,18332.2,20370.4,21172.9,23981.7,27111.7,29625.3