In [115]:
import pandas as pd
import os

In [116]:
gdp = pd.read_csv("../data/raw/gdp.csv")

In [117]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   IndicatorCode    1045 non-null   int64
 1   IndicatorName    1045 non-null   object
 2   VariableName     1045 non-null   object
 3   MeasurementName  1045 non-null   object
 4   CountryCode      1045 non-null   int64
 5   Alpha3Code       1045 non-null   object
 6   CountryName      1045 non-null   object
 7   PeriodCode       1045 non-null   int64
 8   Value            1045 non-null   object
 9   Unnamed: 9       0 non-null      float64
dtypes: float64(1), int64(3), object(6)
memory usage: 81.8+ KB

In [118]:
gdp.head()

,IndicatorCode,IndicatorName,VariableName,MeasurementName,CountryCode,Alpha3Code,CountryName,PeriodCode,Value,Unnamed: 9
0,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2005,5160.0,NaN
1,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2006,5788.4,NaN
2,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2007,6719.9,NaN
3,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2008,7691.0,NaN
4,5,Final consumption expenditure per capita in US...,Final consumption expenditure,Per capita in USD adjusted by purchasing power...,8,ALB,Albania,2009,8101.3,NaN

In [119]:
gdp = gdp.drop(labels=["IndicatorCode", "CountryCode", "Unnamed: 9" , "IndicatorName", "VariableName", "MeasurementName"], axis=1)

gdp.rename(columns={"PeriodCode": "year", "Value": "gdp"}, inplace=True)

In [120]:
gdp.head()

  Alpha3Code CountryName  year     gdp
0        ALB     Albania  2005  5160.0
1        ALB     Albania  2006  5788.4
2        ALB     Albania  2007  6719.9
3        ALB     Albania  2008  7691.0
4        ALB     Albania  2009  8101.3

In [121]:
countries = pd.read_csv("../data/processed/europe_countries.csv")
iso3_europe_all = set(countries["ISO3 Code"])

In [122]:
iso3_europe_gdp = set(gdp["Alpha3Code"])

In [123]:
len(iso3_europe_gdp)

55

In [124]:
iso3_europe_gdp-iso3_europe_all

{'ARM', 'AZE', 'CAN', 'ISR', 'KAZ', 'KGZ', 'TJK', 'TKM', 'USA', 'UZB'}

In [125]:
df = gdp[gdp["Alpha3Code"].isin(iso3_europe_all)]

In [126]:
#showAustria = gdp[gdp['Alpha3Code']=="AUT"]

In [127]:
#showAustria.head(20)

In [128]:

# Example: pivot so that rows are identified by CountryName (and possibly other columns),
# columns are the PeriodCode (years), and values are the GDP.
#df_pivoted = gdp.pivot(
 #   index=["Alpha3Code", "CountryName"],
 #   columns="PeriodCode",
 #   values="Value"
#).reset_index()

# If you prefer not to reset the index, you can omit .reset_index() 
# and keep Alpha3Code and CountryName as your row index.

In [129]:
#df_pivoted.head(30)

In [130]:
#df_pivoted = df_pivoted.drop(labels=["PeriodCode"], axis=1)

In [131]:
#df = pd.read_csv("../data/processed/gdp.csv")

In [132]:
#df = df.drop(labels=["Unnamed: 0"], axis=1)

In [133]:
#df.head()

In [134]:
df.to_csv("../data/processed/gdp.csv")

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 855 entries, 0 to 1006
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Alpha3Code   855 non-null    object
 1   CountryName  855 non-null    object
 2   year         855 non-null    int64
 3   gdp          855 non-null    object
dtypes: int64(1), object(3)
memory usage: 33.4+ KB

In [136]:
df.count(numeric_only=True)

year    855
dtype: int64

In [137]:
x = df["2022"][2]

print(x)

print(type(x))

def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        return False
    
len(df.columns)


# Apply the is_number function to each element
numeric_mask = df.applymap(is_number)

# Replace non-numeric values with NaN for clarity (optional)
#numeric_values = df.where(numeric_mask)

print("Numeric Values per Row:")
print(numeric_mask)

KeyError: '2022'

In [182]:
columns = df.columns

numeric_col = []

for v in range(len(columns)):
    if(is_number(columns[v])):
        numeric_col.append(columns[v])

In [183]:
print(numeric_col)

['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023']

In [191]:

# Replace non-numeric values with NaN for clarity (optional)
df[numeric_col] = df[numeric_col].where(numeric_mask)

In [195]:
df.isna().sum()

Alpha3Code      0
CountryName     0
2005            6
2006            4
2007            4
2008            4
2009            3
2010            0
2011            0
2012            0
2013            0
2014            1
2015            1
2016            1
2017            1
2018            3
2019            3
2020            3
2021            3
2022            6
2023           11
dtype: int64

In [203]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Alpha3Code   45 non-null     object
 1   CountryName  45 non-null     object
 2   2005         39 non-null     float64
 3   2006         41 non-null     float64
 4   2007         41 non-null     float64
 5   2008         41 non-null     float64
 6   2009         42 non-null     float64
 7   2010         45 non-null     float64
 8   2011         45 non-null     float64
 9   2012         45 non-null     float64
 10  2013         45 non-null     float64
 11  2014         44 non-null     float64
 12  2015         44 non-null     float64
 13  2016         44 non-null     float64
 14  2017         44 non-null     float64
 15  2018         42 non-null     float64
 16  2019         42 non-null     float64
 17  2020         42 non-null     float64
 18  2021         42 non-null     float64
 19  2022         39 non-null     float64
 20  2023         34 non-null     float64
dtypes: float64(19), object(2)
memory usage: 7.5+ KB

In [204]:
df[numeric_col] = df[numeric_col].astype(float)

In [206]:
df.head()

,Alpha3Code,CountryName,2005,2006,2007,2008,2009,2010,2011,2012,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ALB,Albania,5160.0,5788.4,6719.9,7691.0,8101.3,8593.4,9112.3,9348.1,...,10384.7,10702.7,11139.9,11634.1,12200.7,13049.6,12802.1,13823.8,NaN,NaN
1,AND,Andorra,NaN,NaN,NaN,NaN,30731.8,34307.9,34616.4,34791.7,...,33753.2,33769.2,36869.9,38152.5,41032.1,42629.2,42750.7,48357.6,NaN,NaN
2,AUT,Austria,25396.4,27041.6,27668.2,29138.7,30057.8,30861.4,32290.0,33796.6,...,35274.6,35900.8,37613.2,38740.6,40263.1,42719.9,41492.7,45455.4,50773.4,53176.5
3,BEL,Belgium,23981.8,25381.8,26223.9,27802.7,28762.9,30326.2,31240.1,32583.7,...,34547.0,35010.4,36620.8,38035.4,39748.6,42452.0,41802.3,45593.7,51762.0,54326.5
4,BGR,Bulgaria,8851.2,9577.3,10763.3,11676.3,11094.6,11841.8,12358.4,13363.3,...,14326.7,14768.9,15791.4,16923.0,18332.2,20370.4,21172.9,23981.7,27111.7,29625.3

In [208]:
df.to_csv("../data/processed/gdp.csv")